*.suo
*.user
bin
obj
packages
slnWAES/.vs/slnWAES/v15/.suo
slnWAES/WAES.Application/bin/Debug/WAES.Application.dll
*.pdb
*.dll
*.cache
slnWAES/WAES.Domain/obj/Debug/WAES.Domain.csproj.FileListAbsolute.txt
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.dll
*.pdb
slnWAES/.vs/slnWAES/v15/.suo
*.dll
slnWAES/.vs/config/applicationhost.config
*.pdb
slnWAES/WAES.Application/obj/Debug/WAES.Application.csprojResolveAssemblyReference.cache
slnWAES/WAES.Application/obj/Debug/CoreCompileInputs.cache
slnWAES/.vs/slnWAES/v15/.suo
